Import and Settings

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

2) Load Data

In [3]:
df=pd.read_csv('sample_grades.csv')
df.head()

    name  subject  marks
0   Riya     Math     88
1  Aryan  English     75
2  Sneha  Science     92
3   Riya  English     79
4  Aryan  Science     85

3) Inspect Missing Values

In [4]:
df.isna().sum()

name       0
subject    0
marks      0
dtype: int64

4) Missing Values

In [5]:
df['marks']=df['marks'].fillna(df['marks'].mean())

5. Find Top & Bottom Performers

In [6]:
Avg_marks=df.groupby('name')['marks'].mean().sort_values(ascending=False)
print(Avg_marks)
print(Avg_marks.idxmax())
print(Avg_marks.idxmin())

name
Sneha    92.0
Riya     87.0
Aryan    80.6
Name: marks, dtype: float64
Sneha
Aryan

6. Plot Averages by Subject