In [6]:
student = {
    "name": "Surya",
    "age": 22,
    "course": "Python"
}

# print(student["name"])      # Surya
# print(student.get("name"))
# print(student.get("age"))   # 22


# # # Add / Update
# # student["grade"] = "A"
# # student["age"] = 23

# # # Remove
# # student.pop("course")

# # Loop
for key, value in student.items():
  print(key, ":", value)

name : Surya
age : 22
course : Python

In [7]:
n=[1,2,2,3]
nums=list(set(n))
nums

[1, 2, 3]

In [9]:
nums=[1,3,2,5,7]
nums.sort()
nums[-2]

5

In [10]:
nums = {1, 2, 3, 2, 1}
print(nums)   # {1, 2, 3} (duplicates removed)

# Add & Remove
nums.add(4)
nums.remove(2)

# Set operations
a = {1, 2, 3}
b = {3, 4, 5}

print(a | b)  #union
print(a & b)  #intersection
print(a-b)    #difference

{1, 2, 3}
{1, 2, 3, 4, 5}
{3}
{1, 2}

In [15]:
student = {"name": "Surya", "course": "Python", "grade": "A"}
inverted = {v:k for k, v in student.items()}
print(inverted)

{'Surya': 'name', 'Python': 'course', 'A': 'grade'}