In [1]:
student = {
    "name": "Surya",
    "age": 22,
    "course": "Python"
}

# print(student["name"])      # Surya
# print(student.get("name"))
# print(student.get("age"))   # 22


# # # Add / Update
# # student["grade"] = "A"
# # student["age"] = 23

# # # Remove
# # student.pop("course")

# # Loop
for key, value in student.items():
  print(key, ":", value)

name : Surya
age : 22
course : Python

In [2]:
n=[1,2,2,3]
nums=list(set(n))
nums

[1, 2, 3]

In [3]:
nums=[1,3,2,5,7]
nums.sort()
nums[-2]

5

In [4]:
nums = {1, 2, 3, 2, 1}
print(nums)   # {1, 2, 3} (duplicates removed)

# Add & Remove
nums.add(4)
nums.remove(2)

# Set operations
a = {1, 2, 3}
b = {3, 4, 5}

print(a | b)  #union
print(a & b)  #intersection
print(a-b)    #difference

{1, 2, 3}
{1, 2, 3, 4, 5}
{3}
{1, 2}

In [5]:
student = {"name": "Surya", "course": "Python", "grade": "A"}
inverted = {v:k for k, v in student.items()}
print(inverted)

{'Surya': 'name', 'Python': 'course', 'A': 'grade'}

In [6]:
nums=[1,3,2,5,7]
nums.sort()
nums[-3]

3

Sum of digits of a number

In [1]:
num = 1234
total = 0
while num > 0:
    total += num % 10
    num = num // 10
print(total)

10

Count Digits of a number

In [1]:
num=1234
c=0
while num>0:
    c+=1
    num=num//10 
print(c)

4

product of digits of a number

In [4]:
num=1234
p=1
while num>0:
    p=p*(num%10)
    num=num//10
print(p)

24

In [1]:
def second_largest(nums):
    if len(nums) < 2:
        return None  # Not enough elements
    
    largest = second = float('-inf')
    
    for n in nums:
        if n > largest:
            second = largest
            largest = n
        elif n > second and n != largest:
            second = n
    
    return second

# Example
print(second_largest([3, 8, 2, 7, 5]))

7

1. Sum only odd digits

In [1]:
num = 5927
total = 0

while num > 0:
    digit = num % 10
    if digit % 2 != 0:   # odd check
        total += digit
    num //= 10

print(total)

21

2. Count even digits

In [2]:
num = 4823
count = 0

while num > 0:
    digit = num % 10
    if digit % 2 == 0:   # even check
        count += 1
    num //= 10

print(count)

3

3. Reverse only even digits

In [3]:
num = 4823
rev = 0

while num > 0:
    digit = num % 10
    if digit % 2 == 0:
        rev = rev * 10 + digit
    num //= 10

print(rev)

284