In [2]:
student = {
    "name": "Surya",
    "age": 22,
    "course": "Python"
}

# print(student["name"])      # Surya
# print(student.get("name"))
# print(student.get("age"))   # 22


# # # Add / Update
# # student["grade"] = "A"
# # student["age"] = 23

# # # Remove
# # student.pop("course")

# # Loop
for key, value in student.items():
  print(key, ":", value)

name : Surya
age : 22
course : Python

In [3]:
n=[1,2,2,3]
nums=list(set(n))
nums

[1, 2, 3]

In [3]:
nums=[1,3,2,5,7]
nums.sort()
nums[-2]

5

In [4]:
nums = {1, 2, 3, 2, 1}
print(nums)   # {1, 2, 3} (duplicates removed)

# Add & Remove
nums.add(4)
nums.remove(2)

# Set operations
a = {1, 2, 3}
b = {3, 4, 5}

print(a | b)  #union
print(a & b)  #intersection
print(a-b)    #difference

{1, 2, 3}
{1, 2, 3, 4, 5}
{3}
{1, 2}

In [ ]:
student = {"name": "Surya", "course": "Python", "grade": "A"}
inverted = {v:k for k, v in student.items()}
print(inverted)

{'Surya': 'name', 'Python': 'course', 'A': 'grade'}

In [6]:
nums=[1,3,2,5,7]
nums.sort()
nums[-3]

3

Sum of digits of a number

In [1]:
num = 1234
total = 0
while num > 0:
    total += num % 10
    num = num // 10
print(total)

10

Count Digits of a number

In [ ]:
num=1234
c=0
while num>0:
    c+=1
    num=num//10 

    
print(c)

4

product of digits of a number

In [4]:
num=1234
p=1
while num>0:
    p=p*(num%10)
    num=num//10
print(p)

24

In [1]:
def second_largest(nums):
    if len(nums) < 2:
        return None  # Not enough elements
    
    largest = second = float('-inf')
    
    for n in nums:
        if n > largest:
            second = largest
            largest = n
        elif n > second and n != largest:
            second = n
    
    return second

# Example
print(second_largest([3, 8, 2, 7, 5]))

7

1. Sum only odd digits

In [1]:
num = 5927
total = 0

while num > 0:
    digit = num % 10
    if digit % 2 != 0:   # odd check
        total += digit
    num //= 10

print(total)

21

2. Count even digits

In [2]:
num = 4823
count = 0

while num > 0:
    digit = num % 10
    if digit % 2 == 0:   # even check
        count += 1
    num //= 10

print(count)

3

3. Reverse only even digits

In [ ]:
num = 4823
rev = 0

while num > 0:

    
    digit = num % 10
    if digit % 2 == 0:
        rev = rev * 10 + digit
    num //= 10

print(rev)

284

4. Find max digit

In [1]:
num = 3849
maximum = 0

while num > 0:
    digit = num % 10
    if digit > maximum:
        maximum = digit
    num //= 10

print(maximum)

9

Phase 3
1. PRIME NUMBER

In [4]:
num = 29
is_prime = True

if num < 2:
    is_prime = False

i = 2
while i * i <= num:
    if num % i == 0:
        is_prime = False
        break
    i += 1

print(is_prime)

True

2️. ARMSTRONG NUMBER

In [5]:
num = 153
temp = num
n = len(str(num))
total = 0

while temp > 0:
    digit = temp % 10
    total += digit ** n
    temp //= 10

print(total == num)

True

3️ STRONG NUMBER

In [1]:
num = 145
temp = num
total = 0

while temp > 0:
    digit = temp % 10
    
    # factorial
    fact = 1
    for i in range(1, digit + 1):
        fact *= i
    
    total += fact
    temp //= 10

print(total == num)

True

4. FIBONACCI SERIES

In [ ]:
n = 10
a, b = 0, 1

for i in range(n):
    print(a)
    a, b = b, a + b

0
1
1
2
3
5
8
13
21
34

1 — Print a Square of Stars

In [1]:
for i in range(4):
    for j in range(4):
        print("*", end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

2 — Increasing Triangle

In [19]:
for i in range(1, 5):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *

3 — Decreasing Triangle

In [2]:
for i in range(1, 5):
    for j in range(5-i):
        print("*", end=" ")
    print()

* * * *
* * *
* *
*

4 — Number Triangle

In [5]:
for i in range(1, 5):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4


5 — Reverse Number Triangle

In [ ]:
for i in range(1, 5):
    for j in range(1,5-i+1):  
        print(j, end=" ") 
    print()

1 2 3 4
1 2 3
1 2
1

6 — Right-Aligned Triangle

In [ ]:
n = 4
for i in range(1, n+1):
    print("  " * (n - i) + "* " * i)

      *
    * *
  * * *

7 — Pyramid Pattern

In [3]:
n = 4
for i in range(1, n+1):
    print("  " * (n - i) + "* " * (2*i - 1))

      *
    * * *
  * * * * *
* * * * * * *

8 — Inverted Pyramid

In [15]:
n = 4
for i in range(n, 0, -1):
    print("  " * (n - i) + "* " * (2*i - 1))

* * * * * * *
  * * * * *
    * * *
      *

# Phase 5 String Logic

1. Reverse a String

In [1]:
s = "python"
rev = ""

for ch in range(len(s)-1, -1, -1):
    rev += s[ch]  
print(rev)

nohtyp

2. Count Vowels in a String

In [2]:
b = "education"
c=0

for ch in b:
    if ch in "aeiouAEIOU":
        c+=1
    
print(c)

5

3. Count Frequency of Characters

In [4]:
s = "programming"
freq = {}


# for ch in s:    
#     if ch in freq:
#         freq[ch] += 1
#     else:
#         freq[ch] = 1
# print(freq)

for ch in s:
    freq[ch] = freq.get(ch, 0) + 1
print(freq)

{'p': 1, 'r': 2, 'o': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 1, 'n': 1}

4. Check Palindrome String

In [ ]:
n="Python"
rev=""
for ch in n:
    rev = ch + rev
print(rev == n)
#print(rev)

nohtyP

5.Find First Non-Repeating Character

In [1]:
s = "swiss"
freq = {}

for ch in s:
    freq[ch] = freq.get(ch, 0) + 1

for ch in s:
    if freq[ch] == 1:
        print(ch)
        break

w

6. Remove Duplicates from String (Preserve Order)

In [1]:
b="banana"
d=""

for ch in b:
    if ch not in d:
        d += ch
print(d)

ban

7. Count Words in a Sentence

In [2]:
w="Python is programming Language"
c=0

for ch in w.split():
    c+=1
print(c)

4

8. Count consonants in a string

In [4]:
w="Grapes"
c=0

for ch in w:
    if ch not in "aeiouAEIOU":
        c+=1
print(c)

4

2. Find the longest word in a sentence

In [4]:
w="my name is suryavanshi gyaneshwar"
l=""

for ch in w.split():
    if len(ch)>len(l):
        l=ch
print(l)

suryavanshi

In [1]:
w="Grapes"
c=0

for ch in w:
    if ch not in "aeiouAEIOU":
        c+=1
print(c)

4