In [10]:
import pandas as pd

grades=pd.read_csv("student_grades.csv")
attendance=pd.read_csv("attendance.csv")

print(grades.head()) 
attendance.head()

    name  subject  marks
0   Riya     Math     88
1  Aryan  English     75
2  Sneha  Science     92
3   Riya  English     79
4  Aryan  Science     85

    name  attendance_percentage
0   Riya                     92
1  Aryan                     85
2  Sneha                     97

In [4]:
Avg_marks=grades.groupby('name')['marks'].mean().reset_index()
Avg_marks.columns=['name','Average Marks']
print(Avg_marks)

    name  Average Marks
0  Aryan      82.000000
1   Riya      86.666667
2  Sneha      92.000000

In [5]:
merged = pd.merge(Avg_marks, attendance, on='name', how='outer')

print("Merged Data:")
print(merged)

Merged Data:
    name  Average Marks  attendance_percentage
0  Aryan      82.000000                     85
1   Riya      86.666667                     92
2  Sneha      92.000000                     97

In [8]:
merged['attendance_percentage'] = merged['attendance_percentage'].fillna(merged['attendance_percentage'].mean())
merged['Average Marks'] = merged['Average Marks'].fillna(merged['Average Marks'].mean())